<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.devbaltasarq.Multiactividad"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:name=".MultiActivityApp">
        <activity android:name="Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="Subactivity1"
                  android:label="Subactivity1">
        </activity>
        <activity android:name="Subactivity2"
                  android:label="Subactivity2">
        </activity>
    </application>
</manifest>
